<ul class="topmenu">
  <li class="topmenu-li"><a href="/">Home</a></li>
  <li class="topmenu-li"><a href="/home/contact">Contact</a></li>
  <li class="topmenu-li"><a href="/stylist/index">Stylists</a></li>
  <li class="topmenu-li"><a href="/client/index">Clients</a></li>
  <li class="topmenu-li"><a href="/specialty">Specialties</a></li>
  <li class="topmenu-li"><a href="/home/admin">Admin Tools</a></li>
</ul>