@{
  Layout = "_Layout";
}
<div class="container">
  <h3>This client has been removed from the Epic Hair database.</h3>
  <hr>
  <h4><a href="/stylist/index">Back to all Stylists.</a></h4>
  <h4><a href="/">Back to Home Page.</href></h4>
</div>