@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
<h2>Add a new Client</h2>
  
<form action="/client/show" method="post">
  <div class = "form-group row">
      <div class="col col-md-3">
        <label for="clientName">Name: </label>
        <input class="form-control" id="clientName" name="clientName" type="text" required>
      </div>
      <div class="col col-md-3">
        <label for="clientPhone">Phone Number: </label>
        <input class="form-control" id="clientPhone" name="clientPhone" type="text" required>
      </div>
      <div class="col col-md-3">
        <div class="dropdown">
          <label for="stylistName">Preferred Stylist:</label>
          <br>
          <select class="dropdown-select" name="stylistName">
            @foreach(Stylist stylist in @Model)
            {
              <option name="stylistName" value=@stylist.GetId()>@stylist.GetName()</option>
            }

          </select>
        </div>
      </div>
  </div>
  <div class = "form-group row">
    <label for="clientNotes">Notes:</label>
    <br>
    <textarea name="clientNotes" rows="4" cols="50">This client prefers... 
    </textarea>
  </div>
  <div class="form-group row">
    <button class="btn btn-primary btn-lg" type="submit">Add Client</button>
  </div>
</form>

<h4><a href="/stylist/index">See all stylists.</a></h4>
<h4><a href="/">Back to Homepage.</a></h4>
</div>