@{
  Layout = "_Layout";
}

<div class="container">
<h2>Snappy Snips Haircuts Salon Admin Options:</h2>
<hr>

<h4 class="delete"><a href="/home/delete/stylists">Delete ALL stylists from database</a></h4>
<h4 class="delete"><a href="/home/delete/clients">Delete ALL clients from database</a></h4>
<hr>
<h4><a href="/">Back</a></h4>
</div>
