@{
  Layout = "_Layout";
}

<div class="container">
<h2>Snappy Snips Haircuts Salon Contact information:</h2>
<hr>
<h4>Business Hours: 8:30am - 6:30pm (Monday-Saturday)</h4>
<h4>Phone: 1-800-333-HAIR</h4>
<h4>Email: contact@snappysnips.com</h4>
<h4>Address: 550 State St, Seattle, WA 98109</h4>
<hr>
<h4><a href="/">Back</a></h4>
</div>
