@{
  Layout = "_Layout";
}

<div class="container">
<h2>Welcome to the KW Salon database.</h2>
<h4><a href="/stylist/index">Click to view Stylists.</a></h4>
<h4><a href="/client/index"> Click to view clients.</a></h4>
</div>
