@{
  Layout = "_Layout";
}

<div class="container">
<h2>Welcome to the Snappy Snips Hair Salon database.</h2>
<hr>
<h4><a href="/specialty">Click to see all the Specialties we offer.</a></h4>
<h4><a href="/stylist/index">Click to view our Stylists.</a></h4>
<h4><a href="/client/index"> Click to view Client list.</a></h4>
</div>
