@{
  Layout = "_Layout";
}
<div class="container">
  <h2>The profile for @Model.GetName() has been deleted from the database.</h2>

<br>
<hr>
<h4><a href="/stylist/index">Back to all Stylists.</a></h4>

</div>