@{
  Layout = "_Layout";
}

<div class="container">
<h2>Add a new Stylist</h2>
<hr>
<form action="/stylist/index" method="post">
  <div class = "form-group row">
      <div class="col col-md-3">
        <label for="stylistName">Name: </label>
        <input class="form-control" id="stylistName" name="stylistName" type="text" required>
      </div>
      <div class="col col-md-3">
        <label for="stylistPhone">Phone Number: </label>
        <input class="form-control" id="stylistPhone" name="stylistPhone" type="text" required>
      </div>
      <div class="col col-md-3">
        <label for="stylistPicture">Picture file name (optional): </label>
        <input class="form-control" id="stylistPicture" name="stylistPicture" type="text" value="sample_picture">
      </div>
  </div>
  <div class = "form-group row">
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
  </div>
</form>
<hr>
<h4><a href="/stylist/index">See all stylists.</a></h4>
<h4><a href="/">Back to Homepage.</a></h4>